body {
    margin: 0px;
    font-family: Helvetica, sans-serif;
  }
  #app { width: 540px; margin: 0 auto; background: #e0e0e0; }
  .box { overflow: hodden; width: 540px;   }
  .box-wrap { width: 102%; margin-left: -2%; }
  
  .item {
    position: absolute;
    top: 0;
  /*  2/51 存在误差  */
    left: 3.9215%;
    right: 0;
    bottom: 15px;
    font-size: 1.2em;
    color: rgb(0,158,107);
  }
  .item:after {
    content: attr(index);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .wf-transition {
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
  }
  .wf-enter {
    opacity: 0;
  }